In [2]:
l1=['sandy','kamal','karthik','viji']

In [7]:
for i in l1:
    print(i)

sandy
kamal
karthik
viji

In [9]:
x=()

In [17]:
l2=[]
for i in range (1,11):
    l2.append(i)
l2=tuple(l2)

In [20]:
l2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
type(l2)

tuple

In [24]:
x=[(1,2),(3,4),(5,6)]

In [26]:
x

[(1, 2), (3, 4), (5, 6)]

In [28]:
for i,j in x:
    print(i,'+',j,'=',i+j)

1 + 2 = 3
3 + 4 = 7
5 + 6 = 11

In [34]:
for i in range (1,11):
    print(i,'x','2','=',i*2)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [41]:
Count=eval(input('Enter the limit :'))
table=eval(input('Enter the table no :'))
for i in range(1,Count):
    print(i,'X',table,'=',i*table)

Enter the limit :16
Enter the table no :3
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30
11 X 3 = 33
12 X 3 = 36
13 X 3 = 39
14 X 3 = 42
15 X 3 = 45

In [43]:
for i in range (5):
    print('Sandy'*i)

Sandy
SandySandy
SandySandySandy
SandySandySandySandy

In [45]:
import numpy as np

In [47]:
x=np.random.randint(10,size=10)
y=np.random.randint(10,size=10)

In [49]:
x

array([9, 9, 1, 6, 9, 1, 6, 0, 3, 3])

In [51]:
y

array([5, 2, 4, 1, 5, 9, 7, 3, 0, 7])

In [53]:
x;y

array([5, 2, 4, 1, 5, 9, 7, 3, 0, 7])

In [55]:
for i in x:
    print(i)

9
9
1
6
9
1
6
0
3
3

In [63]:
b= [i for i in zip(x,y)]

In [65]:
b

[(9, 5),
 (9, 2),
 (1, 4),
 (6, 1),
 (9, 5),
 (1, 9),
 (6, 7),
 (0, 3),
 (3, 0),
 (3, 7)]

In [67]:
type(b)

list

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\kamal'

In [7]:
p="E:\Python"

In [8]:
os.chdir(p)

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('admit.csv')

In [12]:
df

     GRE  TOEFL  Univ_Rating  SOP  LOR  CGPA  Research  Admit
0    337    118            4  4.5  4.5  9.65         1      1
1    324    107            4  4.0  4.5  8.87         1      1
2    316    104            3  3.0  3.5  8.00         1      1
3    322    110            3  3.5  2.5  8.67         1      1
4    314    103            2  2.0  3.0  8.21         0      0
..   ...    ...          ...  ...  ...   ...       ...    ...
395  324    110            3  3.5  3.5  9.04         1      1
396  325    107            3  3.0  3.5  9.11         1      1
397  330    116            4  5.0  4.5  9.45         1      1
398  312    103            3  3.5  4.0  8.78         0      0
399  333    117            4  5.0  4.0  9.66         1      1

[400 rows x 8 columns]

In [83]:
df.head()

   GRE  TOEFL  Univ_Rating  SOP  LOR  CGPA  Research  Admit
0  337    118            4  4.5  4.5  9.65         1      1
1  324    107            4  4.0  4.5  8.87         1      1
2  316    104            3  3.0  3.5  8.00         1      1
3  322    110            3  3.5  2.5  8.67         1      1
4  314    103            2  2.0  3.0  8.21         0      0

In [85]:
for val in df:
    print (val)

GRE
TOEFL
Univ_Rating
SOP
LOR
CGPA
Research
Admit

In [87]:
for val in df.values:
    print (val)

[337.   118.     4.     4.5    4.5    9.65   1.     1.  ]
[324.   107.     4.     4.     4.5    8.87   1.     1.  ]
[316.  104.    3.    3.    3.5   8.    1.    1. ]
[322.   110.     3.     3.5    2.5    8.67   1.     1.  ]
[314.   103.     2.     2.     3.     8.21   0.     0.  ]
[330.   115.     5.     4.5    3.     9.34   1.     1.  ]
[321.  109.    3.    3.    4.    8.2   1.    1. ]
[308.  101.    2.    3.    4.    7.9   0.    0. ]
[302.  102.    1.    2.    1.5   8.    0.    0. ]
[323.  108.    3.    3.5   3.    8.6   0.    0. ]
[325.  106.    3.    3.5   4.    8.4   1.    0. ]
[327.  111.    4.    4.    4.5   9.    1.    1. ]
[328.  112.    4.    4.    4.5   9.1   1.    1. ]
[307. 109.   3.   4.   3.   8.   1.   0.]
[311.  104.    3.    3.5   2.    8.2   1.    0. ]
[314.  105.    3.    3.5   2.5   8.3   0.    0. ]
[317.  107.    3.    4.    3.    8.7   0.    0. ]
[319. 106.   3.   4.   3.   8.   1.   0.]
[318.  110.    3.    4.    3.    8.8   0.    0. ]
[303.  102.    3.    3.5   3.    8.5   0.    0. ]
[312.  107.    3.    3.    2.    7.9   1.    0. ]
[325.  114.    4.    3.    2.    8.4   0.    0. ]
[328.  116.    5.    5.    5.    9.5   1.    1. ]
[334.  119.    5.    5.    4.5   9.7   1.    1. ]
[336.  119.    5.    4.    3.5   9.8   1.    1. ]
[340.  120.    5.    4.5   4.5   9.6   1.    1. ]
[322.  109.    5.    4.5   3.5   8.8   0.    1. ]
[298.   98.    2.    1.5   2.5   7.5   1.    0. ]
[295.   93.    1.    2.    2.    7.2   0.    0. ]
[310.   99.    2.    1.5   2.    7.3   0.    0. ]
[300.   97.    2.    3.    3.    8.1   1.    0. ]
[327.  103.    3.    4.    4.    8.3   1.    1. ]
[338.  118.    4.    3.    4.5   9.4   1.    1. ]
[340.  114.    5.    4.    4.    9.6   1.    1. ]
[331.  112.    5.    4.    5.    9.8   1.    1. ]
[320.  110.    5.    5.    5.    9.2   1.    1. ]
[299.  106.    2.    4.    4.    8.4   0.    0. ]
[300.  105.    1.    1.    2.    7.8   0.    0. ]
[304.  105.    1.    3.    1.5   7.5   0.    0. ]
[307.  108.    2.    4.    3.5   7.7   0.    0. ]
[308.  110.    3.    3.5   3.    8.    1.    0. ]
[316.  105.    2.    2.5   2.5   8.2   1.    0. ]
[313.  107.    2.    2.5   2.    8.5   1.    0. ]
[332.  117.    4.    4.5   4.    9.1   0.    1. ]
[326.  113.    5.    4.5   4.    9.4   1.    1. ]
[322.  110.    5.    5.    4.    9.1   1.    1. ]
[329.  114.    5.    4.    5.    9.3   1.    1. ]
[339.  119.    5.    4.5   4.    9.7   0.    1. ]
[321.   110.     3.     3.5    5.     8.85   1.     1.  ]
[327.  111.    4.    3.    4.    8.4   1.    1. ]
[313.   98.    3.    2.5   4.5   8.3   1.    1. ]
[312.  100.    2.    1.5   3.5   7.9   1.    0. ]
[334. 116.   4.   4.   3.   8.   1.   1.]
[324.  112.    4.    4.    2.5   8.1   1.    1. ]
[322.  110.    3.    3.    3.5   8.    0.    0. ]
[320.  103.    3.    3.    3.    7.7   0.    0. ]
[316.  102.    3.    2.    3.    7.4   0.    0. ]
[298.   99.    2.    4.    2.    7.6   0.    0. ]
[300.   99.    1.    3.    2.    6.8   1.    0. ]
[311.  104.    2.    2.    2.    8.3   0.    0. ]
[309.  100.    2.    3.    3.    8.1   0.    0. ]
[307.  101.    3.    4.    3.    8.2   0.    0. ]
[304.  105.    2.    3.    3.    8.2   1.    0. ]
[315.  107.    2.    4.    3.    8.5   1.    0. ]
[325.  111.    3.    3.    3.5   8.7   0.    0. ]
[325.   112.     4.     3.5    3.5    8.92   0.     0.  ]
[327.   114.     3.     3.     3.     9.02   0.     0.  ]
[316.   107.     2.     3.5    3.5    8.64   1.     0.  ]
[318.   109.     3.     3.5    4.     9.22   1.     0.  ]
[328.   115.     4.     4.5    4.     9.16   1.     1.  ]
[332.   118.     5.     5.     5.     9.64   1.     1.  ]
[336.   112.     5.     5.     5.     9.76   1.     1.  ]
[321.   111.     5.     5.     5.     9.45   1.     1.  ]
[314.   108.     4.     4.5    4.     9.04   1.     1.  ]
[314.  106.    3.    3.    5.    8.9   0.    1. ]
[329.   114.     2.     2.     4.     8.56   1.     1.  ]
[327.   112.     3.     3.     3.     8.72   1.     1.  ]
[301.    99.     2.     3.     2.     8.22   0.     0.  ]
[296.    95.     2.     3.     2.     7.54   1.     0.  ]
[294.    93.     1.     1.5    2.     7.36   0.     0.  ]
[312.   105.     3.     2.     3.     8.02   1.     0.  ]
[340.  120.    4.    5.    5.    9.5   1.    1. ]
[320.   110.     5.     5.     4.5    9.22   1.     1.  ]
[322.   115.     5.     4.     4.5    9.36   1.     1.  ]
[340.   115.     5.     4.5    4.5    9.45   1.     1.  ]
[319.   103.     4.     4.5    3.5    8.66   0.     1.  ]
[315.   106.     3.     4.5    3.5    8.42   0.     1.  ]
[317.   107.     2.     3.5    3.     8.28   0.     0.  ]
[314.   108.     3.     4.5    3.5    8.14   0.     0.  ]
[316.   109.     4.     4.5    3.5    8.76   1.     1.  ]
[318.   106.     2.     4.     4.     7.92   1.     0.  ]
[299.    97.     3.     5.     3.5    7.66   0.     0.  ]
[298.    98.     2.     4.     3.     8.03   0.     0.  ]
[301.    97.     2.     3.     3.     7.88   1.     0.  ]
[303.    99.     3.     2.     2.5    7.66   0.     0.  ]
[304.   100.     4.     1.5    2.5    7.84   0.     0.  ]
[306. 100.   2.   3.   3.   8.   0.   0.]
[331.   120.     3.     4.     4.     8.96   1.     1.  ]
[332.   119.     4.     5.     4.5    9.24   1.     1.  ]
[323.   113.     3.     4.     4.     8.88   1.     1.  ]
[322.   107.     3.     3.5    3.5    8.46   1.     1.  ]
[312.   105.     2.     2.5    3.     8.12   0.     0.  ]
[314.   106.     2.     4.     3.5    8.25   0.     0.  ]
[317.   104.     2.     4.5    4.     8.47   0.     0.  ]
[326.   112.     3.     3.5    3.     9.05   1.     1.  ]
[316.   110.     3.     4.     4.5    8.78   1.     0.  ]
[329.   111.     4.     4.5    4.5    9.18   1.     1.  ]
[338.   117.     4.     3.5    4.5    9.46   1.     1.  ]
[331.   116.     5.     5.     5.     9.38   1.     1.  ]
[304.   103.     5.     5.     4.     8.64   0.     0.  ]
[305.   108.     5.     3.     3.     8.48   0.     0.  ]
[321.   109.     4.     4.     4.     8.68   1.     0.  ]
[301.   107.     3.     3.5    3.5    8.34   1.     0.  ]
[320.   110.     2.     4.     3.5    8.56   0.     1.  ]
[311.   105.     3.     3.5    3.     8.45   1.     0.  ]
[310.   106.     4.     4.5    4.5    9.04   1.     0.  ]
[299.   102.     3.     4.     3.5    8.62   0.     0.  ]
[290.   104.     4.     2.     2.5    7.46   0.     0.  ]
[296.    99.     2.     3.     3.5    7.28   0.     0.  ]
[327.   104.     5.     3.     3.5    8.84   1.     1.  ]
[335.   117.     5.     5.     5.     9.56   1.     1.  ]
[334.   119.     5.     4.5    4.5    9.48   1.     1.  ]
[310.   106.     4.     1.5    2.5    8.36   0.     0.  ]
[308.   108.     3.     3.5    3.5    8.22   0.     0.  ]
[301.   106.     4.     2.5    3.     8.47   0.     0.  ]
[300.   100.     3.     2.     3.     8.66   1.     0.  ]
[323.   113.     3.     4.     3.     9.32   1.     1.  ]
[319.   112.     3.     2.5    2.     8.71   1.     1.  ]
[326.  112.    3.    3.5   3.    9.1   1.    1. ]
[333.   118.     5.     5.     5.     9.35   1.     1.  ]
[339.   114.     5.     4.     4.5    9.76   1.     1.  ]
[303.   105.     5.     5.     4.5    8.65   0.     1.  ]
[309.   105.     5.     3.5    3.5    8.56   0.     1.  ]
[323.   112.     5.     4.     4.5    8.78   0.     1.  ]
[333.   113.     5.     4.     4.     9.28   1.     1.  ]
[314.   109.     4.     3.5    4.     8.77   1.     1.  ]
[312.   103.     3.     5.     4.     8.45   0.     1.  ]
[316.   100.     2.     1.5    3.     8.16   1.     1.  ]
[326.   116.     2.     4.5    3.     9.08   1.     1.  ]
[318.   109.     1.     3.5    3.5    9.12   0.     1.  ]
[329.   110.     2.     4.     3.     9.15   1.     1.  ]
[332.   118.     2.     4.5    3.5    9.36   1.     1.  ]
[331.   115.     5.     4.     3.5    9.44   1.     1.  ]
[340.   120.     4.     4.5    4.     9.92   1.     1.  ]
[325.   112.     2.     3.     3.5    8.96   1.     1.  ]
[320.   113.     2.     2.     2.5    8.64   1.     1.  ]
[315.   105.     3.     2.     2.5    8.48   0.     1.  ]
[326.   114.     3.     3.     3.     9.11   1.     1.  ]
[339.  116.    4.    4.    3.5   9.8   1.    1. ]
[311.   106.     2.     3.5    3.     8.26   1.     1.  ]
[334.   114.     4.     4.     4.     9.43   1.     1.  ]
[332.   116.     5.     5.     5.     9.28   1.     1.  ]
[321.   112.     5.     5.     5.     9.06   1.     1.  ]
[324.   105.     3.     3.     4.     8.75   0.     1.  ]
[326.   108.     3.     3.     3.5    8.89   0.     1.  ]
[312.   109.     3.     3.     3.     8.69   0.     1.  ]
[315.   105.     3.     2.     2.5    8.34   0.     0.  ]
[309.   104.     2.     2.     2.5    8.26   0.     0.  ]
[306.   106.     2.     2.     2.5    8.14   0.     0.  ]
[297.  100.    1.    1.5   2.    7.9   0.    0. ]
[315.   103.     1.     1.5    2.     7.86   0.     0.  ]
[298.    99.     1.     1.5    3.     7.46   0.     0.  ]
[318.  109.    3.    3.    3.    8.5   0.    0. ]
[317.   105.     3.     3.5    3.     8.56   0.     0.  ]
[329.   111.     4.     4.5    4.     9.01   1.     1.  ]
[322.   110.     5.     4.5    4.     8.97   0.     1.  ]
[302.   102.     3.     3.5    5.     8.33   0.     0.  ]
[313.   102.     3.     2.     3.     8.27   0.     0.  ]
[293.   97.    2.    2.    4.    7.8   1.    0. ]
[311.    99.     2.     2.5    3.     7.98   0.     0.  ]
[312.   101.     2.     2.5    3.5    8.04   1.     0.  ]
[334.   117.     5.     4.     4.5    9.07   1.     1.  ]
[322.   110.     4.     4.     5.     9.13   1.     1.  ]
[323.   113.     4.     4.     4.5    9.23   1.     1.  ]
[321.   111.     4.     4.     4.     8.97   1.     1.  ]
[320.   111.     4.     4.5    3.5    8.87   1.     1.  ]
[329.   119.     4.     4.5    4.5    9.16   1.     1.  ]
[319.   110.     3.     3.5    3.5    9.04   0.     1.  ]
[309.   108.     3.     2.5    3.     8.12   0.     1.  ]
[307.   102.     3.     3.     3.     8.27   0.     1.  ]
[300.   104.     3.     3.5    3.     8.16   0.     1.  ]
[305.   107.     2.     2.5    2.5    8.42   0.     1.  ]
[299.   100.     2.     3.     3.5    7.88   0.     0.  ]
[314.  110.    3.    4.    4.    8.8   0.    1. ]
[316.   106.     2.     2.5    4.     8.32   0.     1.  ]
[327.   113.     4.     4.5    4.5    9.11   1.     1.  ]
[317.   107.     3.     3.5    3.     8.68   1.     1.  ]
[335.   118.     5.     4.5    3.5    9.44   1.     1.  ]
[331.   115.     5.     4.5    3.5    9.36   1.     1.  ]
[324.   112.     5.     5.     5.     9.08   1.     1.  ]
[324.   111.     5.     4.5    4.     9.16   1.     1.  ]
[323.   110.     5.     4.     5.     8.98   1.     1.  ]
[322.   114.     5.     4.5    4.     8.94   1.     1.  ]
[336.   118.     5.     4.5    5.     9.53   1.     1.  ]
[316.   109.     3.     3.5    3.     8.76   0.     1.  ]
[307.   107.     2.     3.     3.5    8.52   1.     1.  ]
[306.   105.     2.     3.     2.5    8.26   0.     1.  ]
[310.   106.     2.     3.5    2.5    8.33   0.     1.  ]
[311.   104.     3.     4.5    4.5    8.43   0.     0.  ]
[313.   107.     3.     4.     4.5    8.69   0.     1.  ]
[317.   103.     3.     2.5    3.     8.54   1.     1.  ]
[315.   110.     2.     3.5    3.     8.46   1.     1.  ]
[340.   120.     5.     4.5    4.5    9.91   1.     1.  ]
[334.   120.     5.     4.     5.     9.87   1.     1.  ]
[298.   105.     3.     3.5    4.     8.54   0.     0.  ]
[295.    99.     2.     2.5    3.     7.65   0.     0.  ]
[315.    99.     2.     3.5    3.     7.89   0.     0.  ]
[310.   102.     3.     3.5    4.     8.02   1.     0.  ]
[305.   106.     2.     3.     3.     8.16   0.     0.  ]
[301.   104.     3.     3.5    4.     8.12   1.     0.  ]
[325.   108.     4.     4.5    4.     9.06   1.     1.  ]
[328.   110.     4.     5.     4.     9.14   1.     1.  ]
[338.   120.     4.     5.     5.     9.66   1.     1.  ]
[333.   119.     5.     5.     4.5    9.78   1.     1.  ]
[331.   117.     4.     4.5    5.     9.42   1.     1.  ]
[330.   116.     5.     5.     4.5    9.36   1.     1.  ]
[322.   112.     4.     4.5    4.5    9.26   1.     1.  ]
[321.   109.     4.     4.     4.     9.13   1.     1.  ]
[324.   110.     4.     3.     3.5    8.97   1.     1.  ]
[312.   104.     3.     3.5    3.5    8.42   0.     1.  ]
[313.   103.     3.     4.     4.     8.75   0.     1.  ]
[316.   110.     3.     3.5    4.     8.56   0.     1.  ]
[324.   113.     4.     4.5    4.     8.79   0.     1.  ]
[308.   109.     2.     3.     4.     8.45   0.     1.  ]
[305.   105.     2.     3.     2.     8.23   0.     0.  ]
[296.    99.     2.     2.5    2.5    8.03   0.     0.  ]
[306.   110.     2.     3.5    4.     8.45   0.     0.  ]
[312.   110.     2.     3.5    3.     8.53   0.     0.  ]
[318.   112.     3.     4.     3.5    8.67   0.     1.  ]
[324.   111.     4.     3.     3.     9.01   1.     1.  ]
[313.   104.     3.     4.     4.5    8.65   0.     1.  ]
[319.   106.     3.     3.5    2.5    8.33   1.     1.  ]
[312.   107.     2.     2.5    3.5    8.27   0.     0.  ]
[304.   100.     2.     2.5    3.5    8.07   0.     0.  ]
[330.   113.     5.     5.     4.     9.31   1.     1.  ]
[326.   111.     5.     4.5    4.     9.23   1.     1.  ]
[325.   112.     4.     4.     4.5    9.17   1.     1.  ]
[329.   114.     5.     4.5    5.     9.19   1.     1.  ]
[310.   104.     3.     2.     3.5    8.37   0.     0.  ]
[299.   100.     1.     1.5    2.     7.89   0.     0.  ]
[296.   101.     1.     2.5    3.     7.68   0.     0.  ]
[317.   103.     2.     2.5    2.     8.15   0.     0.  ]
[324.   115.     3.     3.5    3.     8.76   1.     0.  ]
[325.   114.     3.     3.5    3.     9.04   1.     1.  ]
[314.   107.     2.     2.5    4.     8.56   0.     0.  ]
[328.   110.     4.     4.     2.5    9.02   1.     1.  ]
[316.   105.     3.     3.     3.5    8.73   0.     1.  ]
[311.   104.     2.     2.5    3.5    8.48   0.     1.  ]
[324.   110.     3.     3.5    4.     8.87   1.     1.  ]
[321.   111.     3.     3.5    4.     8.83   1.     1.  ]
[320.   104.     3.     3.     2.5    8.57   1.     1.  ]
[316.   99.    2.    2.5   3.    9.    0.    0. ]
[318.   100.     2.     2.5    3.5    8.54   1.     1.  ]
[335.   115.     4.     4.5    4.5    9.68   1.     1.  ]
[321.   114.     4.     4.     5.     9.12   0.     1.  ]
[307.   110.     4.     4.     4.5    8.37   0.     1.  ]
[309.    99.     3.     4.     4.     8.56   0.     1.  ]
[324.   100.     3.     4.     5.     8.64   1.     1.  ]
[326.   102.     4.     5.     5.     8.76   1.     1.  ]
[331.   119.     4.     5.     4.5    9.34   1.     1.  ]
[327.   108.     5.     5.     3.5    9.13   1.     1.  ]
[312.   104.     3.     3.5    4.     8.09   0.     1.  ]
[308.   103.     2.     2.5    4.     8.36   1.     0.  ]
[324.   111.     3.     2.5    1.5    8.79   1.     0.  ]
[325.   110.     2.     3.     2.5    8.76   1.     1.  ]
[313.   102.     3.     2.5    2.5    8.68   0.     1.  ]
[312.   105.     2.     2.     2.5    8.45   0.     1.  ]
[314.   107.     3.     3.     3.5    8.17   1.     1.  ]
[327.   113.     4.     4.5    5.     9.14   0.     1.  ]
[308.   108.     4.     4.5    5.     8.34   0.     1.  ]
[306.   105.     2.     2.5    3.     8.22   1.     1.  ]
[299.    96.     2.     1.5    2.     7.86   0.     0.  ]
[294.    95.     1.     1.5    1.5    7.64   0.     0.  ]
[312.    99.     1.     1.     1.5    8.01   1.     0.  ]
[315.   100.     1.     2.     2.5    7.95   0.     0.  ]
[322.   110.     3.     3.5    3.     8.96   1.     1.  ]
[329.   113.     5.     5.     4.5    9.45   1.     1.  ]
[320.   101.     2.     2.5    3.     8.62   0.     0.  ]
[308.   103.     2.     3.     3.5    8.49   0.     0.  ]
[304.   102.     2.     3.     4.     8.73   0.     0.  ]
[311.   102.     3.     4.5    4.     8.64   1.     0.  ]
[317.   110.     3.     4.     4.5    9.11   1.     1.  ]
[312.   106.     3.     4.     3.5    8.79   1.     1.  ]
[321.  111.    3.    2.5   3.    8.9   1.    1. ]
[340.   112.     4.     5.     4.5    9.66   1.     1.  ]
[331.   116.     5.     4.     4.     9.26   1.     1.  ]
[336.   118.     5.     4.5    4.     9.19   1.     1.  ]
[324.   114.     5.     5.     4.5    9.08   1.     1.  ]
[314.   104.     4.     5.     5.     9.02   0.     1.  ]
[313.  109.    3.    4.    3.5   9.    0.    1. ]
[307.   105.     2.     2.5    3.     7.65   0.     0.  ]
[300.   102.     2.     1.5    2.     7.87   0.     0.  ]
[302.    99.     2.     1.     2.     7.97   0.     0.  ]
[312.    98.     1.     3.5    3.     8.18   1.     0.  ]
[316.   101.     2.     2.5    2.     8.32   1.     0.  ]
[317.   100.     2.     3.     2.5    8.57   0.     0.  ]
[310.   107.     3.     3.5    3.5    8.67   0.     1.  ]
[320.   120.     3.     4.     4.5    9.11   0.     1.  ]
[330.   114.     3.     4.5    4.5    9.24   1.     1.  ]
[305.   112.     3.     3.     3.5    8.65   0.     1.  ]
[309.  106.    2.    2.5   2.5   8.    0.    0. ]
[319.   108.     2.     2.5    3.     8.76   0.     0.  ]
[322.   105.     2.     3.     3.     8.45   1.     0.  ]
[323.   107.     3.     3.5    3.5    8.55   1.     1.  ]
[313.   106.     2.     2.5    2.     8.43   0.     0.  ]
[321.  109.    3.    3.5   3.5   8.8   1.    1. ]
[323.  110.    3.    4.    3.5   9.1   1.    1. ]
[325. 112.   4.   4.   4.   9.   1.   1.]
[312.   108.     3.     3.5    3.     8.53   0.     0.  ]
[308.  110.    4.    3.5   3.    8.6   0.    0. ]
[320.   104.     3.     3.     3.5    8.74   1.     1.  ]
[328.   108.     4.     4.5    4.     9.18   1.     1.  ]
[311.  107.    4.    4.5   4.5   9.    1.    1. ]
[301.   100.     3.     3.5    3.     8.04   0.     0.  ]
[305.   105.     2.     3.     4.     8.13   0.     0.  ]
[308.   104.     2.     2.5    3.     8.07   0.     0.  ]
[298.   101.     2.     1.5    2.     7.86   0.     0.  ]
[300.    99.     1.     1.     2.5    8.01   0.     0.  ]
[324.  111.    3.    2.5   2.    8.8   1.    1. ]
[327.   113.     4.     3.5    3.     8.69   1.     1.  ]
[317.  106.    3.    4.    3.5   8.5   1.    1. ]
[323.   104.     3.     4.     4.     8.44   1.     1.  ]
[314.   107.     2.     2.5    4.     8.27   0.     1.  ]
[305.   102.     2.     2.     2.5    8.18   0.     0.  ]
[315.   104.     3.     3.     2.5    8.33   0.     0.  ]
[326.   116.     3.     3.5    4.     9.14   1.     1.  ]
[299.   100.     3.     2.     2.     8.02   0.     0.  ]
[295.   101.     2.     2.5    2.     7.86   0.     0.  ]
[324.   112.     4.     4.     3.5    8.77   1.     1.  ]
[297.    96.     2.     2.5    1.5    7.89   0.     0.  ]
[327.   113.     3.     3.5    3.     8.66   1.     1.  ]
[311.   105.     2.     3.     2.     8.12   1.     1.  ]
[308.   106.     3.     3.5    2.5    8.21   1.     1.  ]
[319.   108.     3.     3.     3.5    8.54   1.     1.  ]
[312.   107.     4.     4.5    4.     8.65   1.     1.  ]
[325.   111.     4.     4.     4.5    9.11   1.     1.  ]
[319.   110.     3.     3.     2.5    8.79   0.     1.  ]
[332.   118.     5.     5.     5.     9.47   1.     1.  ]
[323.   108.     5.     4.     4.     8.74   1.     1.  ]
[324.   107.     5.     3.5    4.     8.66   1.     1.  ]
[312.   107.     3.     3.     3.     8.46   1.     1.  ]
[326.   110.     3.     3.5    3.5    8.76   1.     1.  ]
[308.   106.     3.     3.     3.     8.24   0.     0.  ]
[305.   103.     2.     2.5    3.5    8.13   0.     0.  ]
[295.    96.     2.     1.5    2.     7.34   0.     0.  ]
[316.    98.     1.     1.5    2.     7.43   0.     0.  ]
[304.    97.     2.     1.5    2.     7.64   0.     0.  ]
[299.    94.     1.     1.     1.     7.34   0.     0.  ]
[302.    99.     1.     2.     2.     7.25   0.     0.  ]
[313.   101.     3.     2.5    3.     8.04   0.     0.  ]
[318.   107.     3.     3.     3.5    8.27   1.     1.  ]
[325.   110.     4.     3.5    4.     8.67   1.     1.  ]
[303.   100.     2.     3.     3.5    8.06   1.     0.  ]
[300.   102.     3.     3.5    2.5    8.17   0.     0.  ]
[297.    98.     2.     2.5    3.     7.67   0.     0.  ]
[317.   106.     2.     2.     3.5    8.12   0.     1.  ]

In [89]:
df['GRE']

0      337
1      324
2      316
3      322
4      314
      ...
395    324
396    325
397    330
398    312
399    333
Name: GRE, Length: 400, dtype: int64

In [91]:
li=df['GRE']

In [93]:
type(li)

pandas.core.series.Series

In [14]:
GRE=[]
for val in df.GRE.values:
    GRE.append(val)

In [17]:
GRE

[337,
 324,
 316,
 322,
 314,
 330,
 321,
 308,
 302,
 323,
 325,
 327,
 328,
 307,
 311,
 314,
 317,
 319,
 318,
 303,
 312,
 325,
 328,
 334,
 336,
 340,
 322,
 298,
 295,
 310,
 300,
 327,
 338,
 340,
 331,
 320,
 299,
 300,
 304,
 307,
 308,
 316,
 313,
 332,
 326,
 322,
 329,
 339,
 321,
 327,
 313,
 312,
 334,
 324,
 322,
 320,
 316,
 298,
 300,
 311,
 309,
 307,
 304,
 315,
 325,
 325,
 327,
 316,
 318,
 328,
 332,
 336,
 321,
 314,
 314,
 329,
 327,
 301,
 296,
 294,
 312,
 340,
 320,
 322,
 340,
 319,
 315,
 317,
 314,
 316,
 318,
 299,
 298,
 301,
 303,
 304,
 306,
 331,
 332,
 323,
 322,
 312,
 314,
 317,
 326,
 316,
 329,
 338,
 331,
 304,
 305,
 321,
 301,
 320,
 311,
 310,
 299,
 290,
 296,
 327,
 335,
 334,
 310,
 308,
 301,
 300,
 323,
 319,
 326,
 333,
 339,
 303,
 309,
 323,
 333,
 314,
 312,
 316,
 326,
 318,
 329,
 332,
 331,
 340,
 325,
 320,
 315,
 326,
 339,
 311,
 334,
 332,
 321,
 324,
 326,
 312,
 315,
 309,
 306,
 297,
 315,
 298,
 318,
 317,
 329,
 322,
 302,
 313,
 293,
 311,
 312,
 334,
 322,
 323,
 321,
 320,
 329,
 319,
 309,
 307,
 300,
 305,
 299,
 314,
 316,
 327,
 317,
 335,
 331,
 324,
 324,
 323,
 322,
 336,
 316,
 307,
 306,
 310,
 311,
 313,
 317,
 315,
 340,
 334,
 298,
 295,
 315,
 310,
 305,
 301,
 325,
 328,
 338,
 333,
 331,
 330,
 322,
 321,
 324,
 312,
 313,
 316,
 324,
 308,
 305,
 296,
 306,
 312,
 318,
 324,
 313,
 319,
 312,
 304,
 330,
 326,
 325,
 329,
 310,
 299,
 296,
 317,
 324,
 325,
 314,
 328,
 316,
 311,
 324,
 321,
 320,
 316,
 318,
 335,
 321,
 307,
 309,
 324,
 326,
 331,
 327,
 312,
 308,
 324,
 325,
 313,
 312,
 314,
 327,
 308,
 306,
 299,
 294,
 312,
 315,
 322,
 329,
 320,
 308,
 304,
 311,
 317,
 312,
 321,
 340,
 331,
 336,
 324,
 314,
 313,
 307,
 300,
 302,
 312,
 316,
 317,
 310,
 320,
 330,
 305,
 309,
 319,
 322,
 323,
 313,
 321,
 323,
 325,
 312,
 308,
 320,
 328,
 311,
 301,
 305,
 308,
 298,
 300,
 324,
 327,
 317,
 323,
 314,
 305,
 315,
 326,
 299,
 295,
 324,
 297,
 327,
 311,
 308,
 319,
 312,
 325,
 319,
 332,
 323,
 324,
 312,
 326,
 308,
 305,
 295,
 316,
 304,
 299,
 302,
 313,
 318,
 325,
 303,
 300,
 297,
 317,
 327,
 301,
 314,
 321,
 322,
 334,
 338,
 306,
 313,
 330,
 320,
 311,
 298,
 301,
 310,
 324,
 336,
 321,
 315,
 304,
 297,
 290,
 303,
 311,
 322,
 319,
 324,
 300,
 340,
 335,
 302,
 307,
 296,
 320,
 314,
 318,
 326,
 317,
 329,
 324,
 325,
 330,
 312,
 333]

In [19]:
type(GRE)

list

In [22]:
SOP=list(i for i in df['SOP'])
print(SOP)

[4.5, 4.0, 3.0, 3.5, 2.0, 4.5, 3.0, 3.0, 2.0, 3.5, 3.5, 4.0, 4.0, 4.0, 3.5, 3.5, 4.0, 4.0, 4.0, 3.5, 3.0, 3.0, 5.0, 5.0, 4.0, 4.5, 4.5, 1.5, 2.0, 1.5, 3.0, 4.0, 3.0, 4.0, 4.0, 5.0, 4.0, 1.0, 3.0, 4.0, 3.5, 2.5, 2.5, 4.5, 4.5, 5.0, 4.0, 4.5, 3.5, 3.0, 2.5, 1.5, 4.0, 4.0, 3.0, 3.0, 2.0, 4.0, 3.0, 2.0, 3.0, 4.0, 3.0, 4.0, 3.0, 3.5, 3.0, 3.5, 3.5, 4.5, 5.0, 5.0, 5.0, 4.5, 3.0, 2.0, 3.0, 3.0, 3.0, 1.5, 2.0, 5.0, 5.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 5.0, 4.0, 3.0, 2.0, 1.5, 3.0, 4.0, 5.0, 4.0, 3.5, 2.5, 4.0, 4.5, 3.5, 4.0, 4.5, 3.5, 5.0, 5.0, 3.0, 4.0, 3.5, 4.0, 3.5, 4.5, 4.0, 2.0, 3.0, 3.0, 5.0, 4.5, 1.5, 3.5, 2.5, 2.0, 4.0, 2.5, 3.5, 5.0, 4.0, 5.0, 3.5, 4.0, 4.0, 3.5, 5.0, 1.5, 4.5, 3.5, 4.0, 4.5, 4.0, 4.5, 3.0, 2.0, 2.0, 3.0, 4.0, 3.5, 4.0, 5.0, 5.0, 3.0, 3.0, 3.0, 2.0, 2.0, 2.0, 1.5, 1.5, 1.5, 3.0, 3.5, 4.5, 4.5, 3.5, 2.0, 2.0, 2.5, 2.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 3.5, 2.5, 3.0, 3.5, 2.5, 3.0, 4.0, 2.5, 4.5, 3.5, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.5, 3.5, 3.0, 3.0, 3.5, 4.5, 4.0, 2.5, 3.5, 4.5, 4.0, 3.5, 2.5, 3.5, 3.5, 3.0, 3.5, 4.5, 5.0, 5.0, 5.0, 4.5, 5.0, 4.5, 4.0, 3.0, 3.5, 4.0, 3.5, 4.5, 3.0, 3.0, 2.5, 3.5, 3.5, 4.0, 3.0, 4.0, 3.5, 2.5, 2.5, 5.0, 4.5, 4.0, 4.5, 2.0, 1.5, 2.5, 2.5, 3.5, 3.5, 2.5, 4.0, 3.0, 2.5, 3.5, 3.5, 3.0, 2.5, 2.5, 4.5, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0, 5.0, 3.5, 2.5, 2.5, 3.0, 2.5, 2.0, 3.0, 4.5, 4.5, 2.5, 1.5, 1.5, 1.0, 2.0, 3.5, 5.0, 2.5, 3.0, 3.0, 4.5, 4.0, 4.0, 2.5, 5.0, 4.0, 4.5, 5.0, 5.0, 4.0, 2.5, 1.5, 1.0, 3.5, 2.5, 3.0, 3.5, 4.0, 4.5, 3.0, 2.5, 2.5, 3.0, 3.5, 2.5, 3.5, 4.0, 4.0, 3.5, 3.5, 3.0, 4.5, 4.5, 3.5, 3.0, 2.5, 1.5, 1.0, 2.5, 3.5, 4.0, 4.0, 2.5, 2.0, 3.0, 3.5, 2.0, 2.5, 4.0, 2.5, 3.5, 3.0, 3.5, 3.0, 4.5, 4.0, 3.0, 5.0, 4.0, 3.5, 3.0, 3.5, 3.0, 2.5, 1.5, 1.5, 1.5, 1.0, 2.0, 2.5, 3.0, 3.5, 3.0, 3.5, 2.5, 2.0, 3.5, 3.5, 2.5, 2.0, 4.0, 4.0, 4.5, 2.5, 3.5, 4.5, 3.5, 1.0, 2.0, 2.0, 2.5, 3.5, 4.5, 3.0, 2.0, 2.0, 2.5, 1.5, 2.0, 2.5, 3.5, 3.0, 4.5, 3.0, 5.0, 5.0, 2.5, 2.0, 1.5, 3.5, 2.0, 2.0, 4.0, 3.0, 4.5, 3.5, 3.0, 5.0, 3.5, 5.0]

In [24]:
for label,val in df.iterrows():
    print(label)
    print(val)

0
GRE            337.00
TOEFL          118.00
Univ_Rating      4.00
SOP              4.50
LOR              4.50
CGPA             9.65
Research         1.00
Admit            1.00
Name: 0, dtype: float64
1
GRE            324.00
TOEFL          107.00
Univ_Rating      4.00
SOP              4.00
LOR              4.50
CGPA             8.87
Research         1.00
Admit            1.00
Name: 1, dtype: float64
2
GRE            316.0
TOEFL          104.0
Univ_Rating      3.0
SOP              3.0
LOR              3.5
CGPA             8.0
Research         1.0
Admit            1.0
Name: 2, dtype: float64
3
GRE            322.00
TOEFL          110.00
Univ_Rating      3.00
SOP              3.50
LOR              2.50
CGPA             8.67
Research         1.00
Admit            1.00
Name: 3, dtype: float64
4
GRE            314.00
TOEFL          103.00
Univ_Rating      2.00
SOP              2.00
LOR              3.00
CGPA             8.21
Research         0.00
Admit            0.00
Name: 4, dtype: float64
5
GRE            330.00
TOEFL          115.00
Univ_Rating      5.00
SOP              4.50
LOR              3.00
CGPA             9.34
Research         1.00
Admit            1.00
Name: 5, dtype: float64
6
GRE            321.0
TOEFL          109.0
Univ_Rating      3.0
SOP              3.0
LOR              4.0
CGPA             8.2
Research         1.0
Admit            1.0
Name: 6, dtype: float64
7
GRE            308.0
TOEFL          101.0
Univ_Rating      2.0
SOP              3.0
LOR              4.0
CGPA             7.9
Research         0.0
Admit            0.0
Name: 7, dtype: float64
8
GRE            302.0
TOEFL          102.0
Univ_Rating      1.0
SOP              2.0
LOR              1.5
CGPA             8.0
Research         0.0
Admit            0.0
Name: 8, dtype: float64
9
GRE            323.0
TOEFL          108.0
Univ_Rating      3.0
SOP              3.5
LOR              3.0
CGPA             8.6
Research         0.0
Admit            0.0
Name: 9, dtype: float64
10
GRE            325.0
TOEFL          106.0
Univ_Rating      3.0
SOP              3.5
LOR              4.0
CGPA             8.4
Research         1.0
Admit            0.0
Name: 10, dtype: float64
11
GRE            327.0
TOEFL          111.0
Univ_Rating      4.0
SOP              4.0
LOR              4.5
CGPA             9.0
Research         1.0
Admit            1.0
Name: 11, dtype: float64
12
GRE            328.0
TOEFL          112.0
Univ_Rating      4.0
SOP              4.0
LOR              4.5
CGPA             9.1
Research         1.0
Admit            1.0
Name: 12, dtype: float64
13
GRE            307.0
TOEFL          109.0
Univ_Rating      3.0
SOP              4.0
LOR              3.0
CGPA             8.0
Research         1.0
Admit            0.0
Name: 13, dtype: float64
14
GRE            311.0
TOEFL          104.0
Univ_Rating      3.0
SOP              3.5
LOR              2.0
CGPA             8.2
Research         1.0
Admit            0.0
Name: 14, dtype: float64
15
GRE            314.0
TOEFL          105.0
Univ_Rating      3.0
SOP              3.5
LOR              2.5
CGPA             8.3
Research         0.0
Admit            0.0
Name: 15, dtype: float64
16
GRE            317.0
TOEFL          107.0
Univ_Rating      3.0
SOP              4.0
LOR              3.0
CGPA             8.7
Research         0.0
Admit            0.0
Name: 16, dtype: float64
17
GRE            319.0
TOEFL          106.0
Univ_Rating      3.0
SOP              4.0
LOR              3.0
CGPA             8.0
Research         1.0
Admit            0.0
Name: 17, dtype: float64
18
GRE            318.0
TOEFL          110.0
Univ_Rating      3.0
SOP              4.0
LOR              3.0
CGPA             8.8
Research         0.0
Admit            0.0
Name: 18, dtype: float64
19
GRE            303.0
TOEFL          102.0
Univ_Rating      3.0
SOP              3.5
LOR              3.0
CGPA             8.5
Research         0.0
Admit            0.0
Name: 19, dtype: float64
20
GRE            312.0
TOEFL          107.0
Univ_Rating      3.0
SOP              3.0
LOR              2.0
CGPA             7.9
Research         1.0
Admit            0.0
Name: 20, dtype: float64
21
GRE            325.0
TOEFL          114.0
Univ_Rating      4.0
SOP              3.0
LOR              2.0
CGPA             8.4
Research         0.0
Admit            0.0
Name: 21, dtype: float64
22
GRE            328.0
TOEFL          116.0
Univ_Rating      5.0
SOP              5.0
LOR              5.0
CGPA             9.5
Research         1.0
Admit            1.0
Name: 22, dtype: float64
23
GRE            334.0
TOEFL          119.0
Univ_Rating      5.0
SOP              5.0
LOR              4.5
CGPA             9.7
Research         1.0
Admit            1.0
Name: 23, dtype: float64
24
GRE            336.0
TOEFL          119.0
Univ_Rating      5.0
SOP              4.0
LOR              3.5
CGPA             9.8
Research         1.0
Admit            1.0
Name: 24, dtype: float64
25
GRE            340.0
TOEFL          120.0
Univ_Rating      5.0
SOP              4.5
LOR              4.5
CGPA             9.6
Research         1.0
Admit            1.0
Name: 25, dtype: float64
26
GRE            322.0
TOEFL          109.0
Univ_Rating      5.0
SOP              4.5
LOR              3.5
CGPA             8.8
Research         0.0
Admit            1.0
Name: 26, dtype: float64
27
GRE            298.0
TOEFL           98.0
Univ_Rating      2.0
SOP              1.5
LOR              2.5
CGPA             7.5
Research         1.0
Admit            0.0
Name: 27, dtype: float64
28
GRE            295.0
TOEFL           93.0
Univ_Rating      1.0
SOP              2.0
LOR              2.0
CGPA             7.2
Research         0.0
Admit            0.0
Name: 28, dtype: float64
29
GRE            310.0
TOEFL           99.0
Univ_Rating      2.0
SOP              1.5
LOR              2.0
CGPA             7.3
Research         0.0
Admit            0.0
Name: 29, dtype: float64
30
GRE            300.0
TOEFL           97.0
Univ_Rating      2.0
SOP              3.0
LOR              3.0
CGPA             8.1
Research         1.0
Admit            0.0
Name: 30, dtype: float64
31
GRE            327.0
TOEFL          103.0
Univ_Rating      3.0
SOP              4.0
LOR              4.0
CGPA             8.3
Research         1.0
Admit            1.0
Name: 31, dtype: float64
32
GRE            338.0
TOEFL          118.0
Univ_Rating      4.0
SOP              3.0
LOR              4.5
CGPA             9.4
Research         1.0
Admit            1.0
Name: 32, dtype: float64
33
GRE            340.0
TOEFL          114.0
Univ_Rating      5.0
SOP              4.0
LOR              4.0
CGPA             9.6
Research         1.0
Admit            1.0
Name: 33, dtype: float64
34
GRE            331.0
TOEFL          112.0
Univ_Rating      5.0
SOP              4.0
LOR              5.0
CGPA             9.8
Research         1.0
Admit            1.0
Name: 34, dtype: float64
35
GRE            320.0
TOEFL          110.0
Univ_Rating      5.0
SOP              5.0
LOR              5.0
CGPA             9.2
Research         1.0
Admit            1.0
Name: 35, dtype: float64
36
GRE            299.0
TOEFL          106.0
Univ_Rating      2.0
SOP              4.0
LOR              4.0
CGPA             8.4
Research         0.0
Admit            0.0
Name: 36, dtype: float64
37
GRE            300.0
TOEFL          105.0
Univ_Rating      1.0
SOP              1.0
LOR              2.0
CGPA             7.8
Research         0.0
Admit            0.0
Name: 37, dtype: float64
38
GRE            304.0
TOEFL          105.0
Univ_Rating      1.0
SOP              3.0
LOR              1.5
CGPA             7.5
Research         0.0
Admit            0.0
Name: 38, dtype: float64
39
GRE            307.0
TOEFL          108.0
Univ_Rating      2.0
SOP              4.0
LOR              3.5
CGPA             7.7
Research         0.0
Admit            0.0
Name: 39, dtype: float64
40
GRE            308.0
TOEFL          110.0
Univ_Rating      3.0
SOP              3.5
LOR              3.0
CGPA             8.0
Research         1.0
Admit            0.0
Name: 40, dtype: float64
41
GRE            316.0
TOEFL          105.0
Univ_Rating      2.0
SOP              2.5
LOR              2.5
CGPA             8.2
Research         1.0
Admit            0.0
Name: 41, dtype: float64
42
GRE            313.0
TOEFL          107.0
Univ_Rating      2.0
SOP              2.5
LOR              2.0
CGPA             8.5
Research         1.0
Admit            0.0
Name: 42, dtype: float64
43
GRE            332.0
TOEFL          117.0
Univ_Rating      4.0
SOP              4.5
LOR              4.0
CGPA             9.1
Research         0.0
Admit            1.0
Name: 43, dtype: float64
44
GRE            326.0
TOEFL          113.0
Univ_Rating      5.0
SOP              4.5
LOR              4.0
CGPA             9.4
Research         1.0
Admit            1.0
Name: 44, dtype: float64
45
GRE            322.0
TOEFL          110.0
Univ_Rating      5.0
SOP              5.0
LOR              4.0
CGPA             9.1
Research         1.0
Admit            1.0
Name: 45, dtype: float64
46
GRE            329.0
TOEFL          114.0
Univ_Rating      5.0
SOP              4.0
LOR              5.0
CGPA             9.3
Research         1.0
Admit            1.0
Name: 46, dtype: float64
47
GRE            339.0
TOEFL          119.0
Univ_Rating      5.0
SOP              4.5
LOR              4.0
CGPA             9.7
Research         0.0
Admit            1.0
Name: 47, dtype: float64
48
GRE            321.00
TOEFL          110.00
Univ_Rating      3.00
SOP              3.50
LOR              5.00
CGPA             8.85
Research         1.00
Admit            1.00
Name: 48, dtype: float64
49
GRE            327.0
TOEFL          111.0
Univ_Rating      4.0
SOP              3.0
LOR              4.0
CGPA             8.4
Research         1.0
Admit            1.0
Name: 49, dtype: float64
50
GRE            313.0
TOEFL           98.0
Univ_Rating      3.0
SOP              2.5
LOR              4.5
CGPA             8.3
Research         1.0
Admit            1.0
Name: 50, dtype: float64
51
GRE            312.0
TOEFL          100.0
Univ_Rating      2.0
SOP              1.5
LOR              3.5
CGPA             7.9
Research         1.0
Admit            0.0
Name: 51, dtype: float64
52
GRE            334.0
TOEFL          116.0
Univ_Rating      4.0
SOP              4.0
LOR              3.0
CGPA             8.0
Research         1.0
Admit            1.0
Name: 52, dtype: float64
53
GRE            324.0
TOEFL          112.0
Univ_Rating      4.0
SOP              4.0
LOR              2.5
CGPA             8.1
Research         1.0
Admit            1.0
Name: 53, dtype: float64
54
GRE            322.0
TOEFL          110.0
Univ_Rating      3.0
SOP              3.0
LOR              3.5
CGPA             8.0
Research         0.0
Admit            0.0
Name: 54, dtype: float64
55
GRE            320.0
TOEFL          103.0
Univ_Rating      3.0
SOP              3.0
LOR              3.0
CGPA             7.7
Research         0.0
Admit            0.0
Name: 55, dtype: float64
56
GRE            316.0
TOEFL          102.0
Univ_Rating      3.0
SOP              2.0
LOR              3.0
CGPA             7.4
Research         0.0
Admit            0.0
Name: 56, dtype: float64
57
GRE            298.0
TOEFL           99.0
Univ_Rating      2.0
SOP              4.0
LOR              2.0
CGPA             7.6
Research         0.0
Admit            0.0
Name: 57, dtype: float64
58
GRE            300.0
TOEFL           99.0
Univ_Rating      1.0
SOP              3.0
LOR              2.0
CGPA             6.8
Research         1.0
Admit            0.0
Name: 58, dtype: float64
59
GRE            311.0
TOEFL          104.0
Univ_Rating      2.0
SOP              2.0
LOR              2.0
CGPA             8.3
Research         0.0
Admit            0.0
Name: 59, dtype: float64
60
GRE            309.0
TOEFL          100.0
Univ_Rating      2.0
SOP              3.0
LOR              3.0
CGPA             8.1
Research         0.0
Admit            0.0
Name: 60, dtype: float64
61
GRE            307.0
TOEFL          101.0
Univ_Rating      3.0
SOP              4.0
LOR              3.0
CGPA             8.2
Research         0.0
Admit            0.0
Name: 61, dtype: float64
62
GRE            304.0
TOEFL          105.0
Univ_Rating      2.0
SOP              3.0
LOR              3.0
CGPA             8.2
Research         1.0
Admit            0.0
Name: 62, dtype: float64
63
GRE            315.0
TOEFL          107.0
Univ_Rating      2.0
SOP              4.0
LOR              3.0
CGPA             8.5
Research         1.0
Admit            0.0
Name: 63, dtype: float64
64
GRE            325.0
TOEFL          111.0
Univ_Rating      3.0
SOP              3.0
LOR              3.5
CGPA             8.7
Research         0.0
Admit            0.0
Name: 64, dtype: float64
65
GRE            325.00
TOEFL          112.00
Univ_Rating      4.00
SOP              3.50
LOR              3.50
CGPA             8.92
Research         0.00
Admit            0.00
Name: 65, dtype: float64
66
GRE            327.00
TOEFL          114.00
Univ_Rating      3.00
SOP              3.00
LOR              3.00
CGPA             9.02
Research         0.00
Admit            0.00
Name: 66, dtype: float64
67
GRE            316.00
TOEFL          107.00
Univ_Rating      2.00
SOP              3.50
LOR              3.50
CGPA             8.64
Research         1.00
Admit            0.00
Name: 67, dtype: float64
68
GRE            318.00
TOEFL          109.00
Univ_Rating      3.00
SOP              3.50
LOR              4.00
CGPA             9.22
Research         1.00
Admit            0.00
Name: 68, dtype: float64
69
GRE            328.00
TOEFL          115.00
Univ_Rating      4.00
SOP              4.50
LOR              4.00
CGPA             9.16
Research         1.00
Admit            1.00
Name: 69, dtype: float64
70
GRE            332.00
TOEFL          118.00
Univ_Rating      5.00
SOP              5.00
LOR              5.00
CGPA             9.64
Research         1.00
Admit            1.00
Name: 70, dtype: float64
71
GRE            336.00
TOEFL          112.00
Univ_Rating      5.00
SOP              5.00
LOR              5.00
CGPA             9.76
Research         1.00
Admit            1.00
Name: 71, dtype: float64
72
GRE            321.00
TOEFL          111.00
Univ_Rating      5.00
SOP              5.00
LOR              5.00
CGPA             9.45
Research         1.00
Admit            1.00
Name: 72, dtype: float64
73
GRE            314.00
TOEFL          108.00
Univ_Rating      4.00
SOP              4.50
LOR              4.00
CGPA             9.04
Research         1.00
Admit            1.00
Name: 73, dtype: float64
74
GRE            314.0
TOEFL          106.0
Univ_Rating      3.0
SOP              3.0
LOR              5.0
CGPA             8.9
Research         0.0
Admit            1.0
Name: 74, dtype: float64
75
GRE            329.00
TOEFL          114.00
Univ_Rating      2.00
SOP              2.00
LOR              4.00
CGPA             8.56
Research         1.00
Admit            1.00
Name: 75, dtype: float64
76
GRE            327.00
TOEFL          112.00
Univ_Rating      3.00
SOP              3.00
LOR              3.00
CGPA             8.72
Research         1.00
Admit            1.00
Name: 76, dtype: float64
77
GRE            301.00
TOEFL           99.00
Univ_Rating      2.00
SOP              3.00
LOR              2.00
CGPA             8.22
Research         0.00
Admit            0.00
Name: 77, dtype: float64
78
GRE            296.00
TOEFL           95.00
Univ_Rating      2.00
SOP              3.00
LOR              2.00
CGPA             7.54
Research         1.00
Admit            0.00
Name: 78, dtype: float64
79
GRE            294.00
TOEFL           93.00
Univ_Rating      1.00
SOP              1.50
LOR              2.00
CGPA             7.36
Research         0.00
Admit            0.00
Name: 79, dtype: float64
80
GRE            312.00
TOEFL          105.00
Univ_Rating      3.00
SOP              2.00
LOR              3.00
CGPA             8.02
Research         1.00
Admit            0.00
Name: 80, dtype: float64
81
GRE            340.0
TOEFL          120.0
Univ_Rating      4.0
SOP              5.0
LOR              5.0
CGPA             9.5
Research         1.0
Admit            1.0
Name: 81, dtype: float64
82
GRE            320.00
TOEFL          110.00
Univ_Rating      5.00
SOP              5.00
LOR              4.50
CGPA             9.22
Research         1.00
Admit            1.00
Name: 82, dtype: float64
83
GRE            322.00
TOEFL          115.00
Univ_Rating      5.00
SOP              4.00
LOR              4.50
CGPA             9.36
Research         1.00
Admit            1.00
Name: 83, dtype: float64
84
GRE            340.00
TOEFL          115.00
Univ_Rating      5.00
SOP              4.50
LOR              4.50
CGPA             9.45
Research         1.00
Admit            1.00
Name: 84, dtype: float64
85
GRE            319.00
TOEFL          103.00
Univ_Rating      4.00
SOP              4.50
LOR              3.50
CGPA             8.66
Research         0.00
Admit            1.00
Name: 85, dtype: float64
86
GRE            315.00
TOEFL          106.00
Univ_Rating      3.00
SOP              4.50
LOR              3.50
CGPA             8.42
Research         0.00
Admit            1.00
Name: 86, dtype: float64
87
GRE            317.00
TOEFL          107.00
Univ_Rating      2.00
SOP              3.50
LOR              3.00
CGPA             8.28
Research         0.00
Admit            0.00
Name: 87, dtype: float64
88
GRE            314.00
TOEFL          108.00
Univ_Rating      3.00
SOP              4.50
LOR              3.50
CGPA             8.14
Research         0.00
Admit            0.00
Name: 88, dtype: float64
89
GRE            316.00
TOEFL          109.00
Univ_Rating      4.00
SOP              4.50
LOR              3.50
CGPA             8.76
Research         1.00
Admit            1.00
Name: 89, dtype: float64
90
GRE            318.00
TOEFL          106.00
Univ_Rating      2.00
SOP              4.00
LOR              4.00
CGPA             7.92
Research         1.00
Admit            0.00
Name: 90, dtype: float64
91
GRE            299.00
TOEFL           97.00
Univ_Rating      3.00
SOP              5.00
LOR              3.50
CGPA             7.66
Research         0.00
Admit            0.00
Name: 91, dtype: float64
92
GRE            298.00
TOEFL           98.00
Univ_Rating      2.00
SOP              4.00
LOR              3.00
CGPA             8.03
Research         0.00
Admit            0.00
Name: 92, dtype: float64
93
GRE            301.00
TOEFL           97.00
Univ_Rating      2.00
SOP              3.00
LOR              3.00
CGPA             7.88
Research         1.00
Admit            0.00
Name: 93, dtype: float64
94
GRE            303.00
TOEFL           99.00
Univ_Rating      3.00
SOP              2.00
LOR              2.50
CGPA             7.66
Research         0.00
Admit            0.00
Name: 94, dtype: float64
95
GRE            304.00
TOEFL          100.00
Univ_Rating      4.00
SOP              1.50
LOR              2.50
CGPA             7.84
Research         0.00
Admit            0.00
Name: 95, dtype: float64
96
GRE            306.0
TOEFL          100.0
Univ_Rating      2.0
SOP              3.0
LOR              3.0
CGPA             8.0
Research         0.0
Admit            0.0
Name: 96, dtype: float64
97
GRE            331.00
TOEFL          120.00
Univ_Rating      3.00
SOP              4.00
LOR              4.00
CGPA             8.96
Research         1.00
Admit            1.00
Name: 97, dtype: float64
98
GRE            332.00
TOEFL          119.00
Univ_Rating      4.00
SOP              5.00
LOR              4.50
CGPA             9.24
Research         1.00
Admit            1.00
Name: 98, dtype: float64
99
GRE            323.00
TOEFL          113.00
Univ_Rating      3.00
SOP              4.00
LOR              4.00
CGPA             8.88
Research         1.00
Admit            1.00
Name: 99, dtype: float64
100
GRE            322.00
TOEFL          107.00
Univ_Rating      3.00
SOP              3.50
LOR              3.50

In [35]:
new=[val for val in df.iterrows()]
print(new[0])

(0, GRE            337.00
TOEFL          118.00
Univ_Rating      4.00
SOP              4.50
LOR              4.50
CGPA             9.65
Research         1.00
Admit            1.00
Name: 0, dtype: float64)

In [37]:
type(new)

list

In [39]:
for i in range(1,11):
    count = i+1
print(i)

10

In [41]:
for i in range(1,11):
    count = i+1
print(count)

11

In [53]:
for i in range(1,11):
    count = (i+(i*i))/2
print(count)

55.0

In [56]:
count=0
for a in range(1,11):
    count=count+a
print (count)

55

In [58]:
count=0
for a in range(1,11):
    count=count+a
AM= count/10
print (AM)

5.5

In [63]:
df.GRE.values

array([337, 324, 316, 322, 314, 330, 321, 308, 302, 323, 325, 327, 328,
       307, 311, 314, 317, 319, 318, 303, 312, 325, 328, 334, 336, 340,
       322, 298, 295, 310, 300, 327, 338, 340, 331, 320, 299, 300, 304,
       307, 308, 316, 313, 332, 326, 322, 329, 339, 321, 327, 313, 312,
       334, 324, 322, 320, 316, 298, 300, 311, 309, 307, 304, 315, 325,
       325, 327, 316, 318, 328, 332, 336, 321, 314, 314, 329, 327, 301,
       296, 294, 312, 340, 320, 322, 340, 319, 315, 317, 314, 316, 318,
       299, 298, 301, 303, 304, 306, 331, 332, 323, 322, 312, 314, 317,
       326, 316, 329, 338, 331, 304, 305, 321, 301, 320, 311, 310, 299,
       290, 296, 327, 335, 334, 310, 308, 301, 300, 323, 319, 326, 333,
       339, 303, 309, 323, 333, 314, 312, 316, 326, 318, 329, 332, 331,
       340, 325, 320, 315, 326, 339, 311, 334, 332, 321, 324, 326, 312,
       315, 309, 306, 297, 315, 298, 318, 317, 329, 322, 302, 313, 293,
       311, 312, 334, 322, 323, 321, 320, 329, 319, 309, 307, 300, 305,
       299, 314, 316, 327, 317, 335, 331, 324, 324, 323, 322, 336, 316,
       307, 306, 310, 311, 313, 317, 315, 340, 334, 298, 295, 315, 310,
       305, 301, 325, 328, 338, 333, 331, 330, 322, 321, 324, 312, 313,
       316, 324, 308, 305, 296, 306, 312, 318, 324, 313, 319, 312, 304,
       330, 326, 325, 329, 310, 299, 296, 317, 324, 325, 314, 328, 316,
       311, 324, 321, 320, 316, 318, 335, 321, 307, 309, 324, 326, 331,
       327, 312, 308, 324, 325, 313, 312, 314, 327, 308, 306, 299, 294,
       312, 315, 322, 329, 320, 308, 304, 311, 317, 312, 321, 340, 331,
       336, 324, 314, 313, 307, 300, 302, 312, 316, 317, 310, 320, 330,
       305, 309, 319, 322, 323, 313, 321, 323, 325, 312, 308, 320, 328,
       311, 301, 305, 308, 298, 300, 324, 327, 317, 323, 314, 305, 315,
       326, 299, 295, 324, 297, 327, 311, 308, 319, 312, 325, 319, 332,
       323, 324, 312, 326, 308, 305, 295, 316, 304, 299, 302, 313, 318,
       325, 303, 300, 297, 317, 327, 301, 314, 321, 322, 334, 338, 306,
       313, 330, 320, 311, 298, 301, 310, 324, 336, 321, 315, 304, 297,
       290, 303, 311, 322, 319, 324, 300, 340, 335, 302, 307, 296, 320,
       314, 318, 326, 317, 329, 324, 325, 330, 312, 333], dtype=int64)

In [64]:
GRE = list(i for i in df['GRE'])
n=list([i for i in GRE])
print(len(n))
c=0
for m in GRE:
    c=(c+m)
    avg=c/len(n)
print(avg)
ss=0
for gre in GRE:
    ss=ss+((gre-avg)**2)
print(ss/(len(n)-1))

400
316.8075
131.6445551378446