# FUNCTIONS

In [1]:
def greet_user() :
    """Hi ,this is a simple greeting function"""
    print('Hi ,this is a simple greeting function')

In [2]:
greet_user()

Hi ,this is a simple greeting function

In [3]:
def greet_user(Username):
    """Hi ,this is a simple greeting function"""
    print('Hi',Username.title(),'this is a simple greeting function')

In [4]:
greet_user("Sandhya")

Hi Sandhya this is a simple greeting function

In [5]:
def describe_pet(pet_type,pet_name):
    print('I have a',pet_type)
    print('My',pet_type,'name is',pet_name )

In [6]:
describe_pet('Hamster','Jerry')

I have a Hamster
My Hamster name is Jerry

In [7]:
def Product_table (Limit,TableNo):
    for i in range (1,Limit+1):
        print(i,'X',TableNo,'=',i*TableNo)

In [8]:
Product_table(10,16)

1 X 16 = 16
2 X 16 = 32
3 X 16 = 48
4 X 16 = 64
5 X 16 = 80
6 X 16 = 96
7 X 16 = 112
8 X 16 = 128
9 X 16 = 144
10 X 16 = 160

In [15]:
import os

In [16]:
import pandas as pd

In [17]:
p="E:\Python"

In [18]:
os.chdir(p)

In [19]:
os.getcwd()

'E:\\Python'

In [20]:
df=pd.read_csv('admit.csv')

In [21]:
df

     GRE  TOEFL  Univ_Rating  SOP  LOR  CGPA  Research  Admit
0    337    118            4  4.5  4.5  9.65         1      1
1    324    107            4  4.0  4.5  8.87         1      1
2    316    104            3  3.0  3.5  8.00         1      1
3    322    110            3  3.5  2.5  8.67         1      1
4    314    103            2  2.0  3.0  8.21         0      0
..   ...    ...          ...  ...  ...   ...       ...    ...
395  324    110            3  3.5  3.5  9.04         1      1
396  325    107            3  3.0  3.5  9.11         1      1
397  330    116            4  5.0  4.5  9.45         1      1
398  312    103            3  3.5  4.0  8.78         0      0
399  333    117            4  5.0  4.0  9.66         1      1

[400 rows x 8 columns]

In [9]:
df.GRE.quantile(0.25)

308.0

In [77]:
df.GRE.quantile(0.5)

317.0

In [79]:
df.GRE.quantile(0.75)

325.0

In [13]:
def Outlier(a):
    Q1=a.quantile(0.25)
    Q3=a.quantile(0.75)
    IQR=Q3-Q1
    In=(Q1-(1.5*IQR))
    Out=(Q3+(1.5*IQR))
    print('1st Quantile =',Q1,'\n3rd Quantile =',Q3,'\nInner_Fence =',In,'\nOuter_Fence =',Out)
    for i in a:
        if (i<In or i>Out):
            print (i)

In [22]:
Outlier(df.GRE)

1st Quantile = 308.0
3rd Quantile = 325.0
Inner_Fence = 282.5
Outer_Fence = 350.5

In [25]:
Outlier(df.Univ_Rating)

1st Quantile = 2.0
3rd Quantile = 4.0
Inner_Fence = -1.0
Outer_Fence = 7.0

In [26]:
Univ_Rating1=df.Univ_Rating

In [27]:
Univ_Rating1

0      4
1      4
2      3
3      3
4      2
      ..
395    3
396    3
397    4
398    3
399    4
Name: Univ_Rating, Length: 400, dtype: int64

In [28]:
Outlier(Univ_Rating1)

1st Quantile = 2.0
3rd Quantile = 4.0
Inner_Fence = -1.0
Outer_Fence = 7.0

In [30]:
Univ_Rating1.index(7)

TypeError: 'RangeIndex' object is not callable

In [31]:
from sklearn.datasets import load_boston

In [32]:
boston=load_boston()

In [33]:
type(boston)

sklearn.utils.Bunch

In [34]:
bos_house=pd.DataFrame(boston.data)

In [35]:
bos_house.columns=boston.feature_names

In [36]:
bos_house['price']=boston.target

In [37]:
bos_house.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [40]:
Outlier(df.GRE)

1st Quantile = 308.0
3rd Quantile = 325.0
Inner_Fence = 282.5
Outer_Fence = 350.5

In [41]:
Outlier(bos_house.price)

1st Quantile = 17.025
3rd Quantile = 25.0
Inner_Fence = 5.0624999999999964
Outer_Fence = 36.962500000000006
38.7
43.8
41.3
50.0
50.0
50.0
50.0
37.2
39.8
37.9
50.0
37.0
50.0
42.3
48.5
50.0
44.8
50.0
37.6
46.7
41.7
48.3
42.8
44.0
50.0
43.1
48.8
50.0
43.5
45.4
46.0
50.0
37.3
50.0
50.0
50.0
50.0
50.0
5.0
5.0

In [42]:
from sklearn.datasets import load_boston

In [43]:
df=pd.dataframe(load_boston())

AttributeError: module 'pandas' has no attribute 'dataframe'