In [1]:
temp=eval(input('Enter the temp in Celsius :'))
while temp <-273:
    temp=eval(input('Impossible enter the valid temp :'))
print ('Temp in DF is',9/5*temp+32)

Enter the temp in Celsius :96
Temp in DF is 204.8

In [3]:
temp=eval(input('Enter the temp in Celsius :'))
while temp <-273:
    temp=eval(input('Impossible enter the valid temp :'))
print ('Temp in DF is',9/5*temp+32)

Enter the temp in Celsius :-300
Impossible enter the valid temp :102
Temp in DF is 215.6

In [6]:
Rainfall=eval(input('Enter the rainfall in cm :'))
while Rainfall > 1000:
    print('There is heavy rainfall')
print ('There is medium rainfall')

Enter the rainfall in cm :500
There is medium rainfall

In [2]:
table1=eval(input("Enter the table No :"))
table2=eval(input("Enter the row num :"))
i=1
while i<=table2:
    print(table1,'X',i,'=',table1*i)
    i=i+1

Enter the table No :12
Enter the row num :10
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [6]:
temp=0
while temp != -1000:
    temp = eval(input('Enter the temp in FH (less than -1000):'))
    if temp!= -1000:
        print('The temp in DC: ',(temp-32)/1.8)
    else:
        print('The temp is Abnormal Please be safe')

Enter the temp in FH (less than -1000):96
The temp in DC:  35.55555555555556
Enter the temp in FH (less than -1000):98
The temp in DC:  36.666666666666664
Enter the temp in FH (less than -1000):-999
The temp in DC:  -572.7777777777777
Enter the temp in FH (less than -1000):-1000
The temp is Abnormal Please be safe

In [8]:
i=0
for i in range (-1000,1000):
    i=eval(input('Enter the temp in FH (less than -1000):'))
    if i!= -1000:
        print('The temp in DC: ',(i-32)/1.8)
    else:
        print('The temp is Abnormal Please be safe')
        break

Enter the temp in FH (less than -1000):102
The temp in DC:  38.888888888888886
Enter the temp in FH (less than -1000):-1000
The temp is Abnormal Please be safe

In [9]:
lenoflist=eval(input('Enter the len of the list :'))
list1=[]
for i in range (0,lenoflist):
    i=eval(input('Enter the element :'))
    list1.append(i)

Enter the len of the list :10
Enter the element :1
Enter the element :2
Enter the element :3
Enter the element :4
Enter the element :5
Enter the element :6
Enter the element :7
Enter the element :8
Enter the element :9
Enter the element :10

In [11]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
type(list1)

list

In [24]:
lenoflist=eval(input('Enter the len of the list :'))
list2=[]
i=0
while i<lenoflist:
    X=eval(input('Enter the element :'))
    list2.append(X)
    i=i+1

Enter the len of the list :5
Enter the element :5
Enter the element :10
Enter the element :15
Enter the element :20
Enter the element :25

In [25]:
list2

[5, 10, 15, 20, 25]

In [27]:
Age1 = 24
Age2 = 21

In [29]:
Age1 == Age2

False

In [31]:
Age1 == 24 or Age2 == 22

True

In [33]:
Age1 == 24 and Age2 == 22

False

In [35]:
req_items = ['pant','Chudi','shirt','legging','kurti']

In [37]:
'trousers' in req_items

False

In [40]:
'shirt' in req_items

True

In [57]:
unautho_user = ['Balaji','Kamal','Vinu','Lachu']
autho_user='Sandhya'

In [61]:
if autho_user not in unautho_user:
    print(autho_user.title(),"you are an authorised user" )

Sandhya you are an authorised user

In [64]:
salary=eval(input('Enter salary :'))
if salary in range(10000,20001):
    print('BPL')
elif salary in range(20000,50001):
    print('Middle class')
else :
    print('Wealthy')

Enter salary :60000
Wealthy